# LangSmith
LANGCHAIN_API_KEY=

# ChromaDB 저장 폴더
VECTORSTORE_PERSIST_DIR=

# 이미지 처리 결과 저장 폴더
IMAGE_OUTPUT_DIR=

# 원본 데이터 저장 폴더
RAW_DATA_DIR=

# 시나리오 1: 로컬 HF
HF_API_KEY=
HF_HOME=
HF_MODEL_NAME=LGAI-EXAONE/EXAONE-3.5-2.4B-Instruct
HF_EMBEDDING_MODEL=jinaai/jina-embeddings-v3
DEVICE=cuda  # cpu 또는 cuda

# 시나리오 2: OpenAI API
OPENAI_API_KEY=
OPENAI_MODEL_NAME=gpt-5-mini
OPENAI_EMBEDDING_MODEL=text-embedding-3-small